@model FastFoodKing.Models.Category

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GraphIdE8413eacd7b54be39f6b78209d3a85d7" class="control-label"></label>
                <input asp-for="GraphIdE8413eacd7b54be39f6b78209d3a85d7" class="form-control" />
                <span asp-validation-for="GraphIdE8413eacd7b54be39f6b78209d3a85d7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NodeIdE250659f8d484cfd97ada3b7fee6c4c3" class="control-label"></label>
                <input asp-for="NodeIdE250659f8d484cfd97ada3b7fee6c4c3" class="form-control" />
                <span asp-validation-for="NodeIdE250659f8d484cfd97ada3b7fee6c4c3" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
